<mat-toolbar class="toolbar">
  <span class="title">The Everyday Bite Order App - V1</span>
</mat-toolbar>

<app-cookie-slide></app-cookie-slide>

<router-outlet>
  <ng-container [ngSwitch]="stepperOrientation | async" MaterialModule>
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>

  <div class="container">
    <mat-stepper
      class="order-form-stepper"
      [linear]="true"
      [orientation]="(stepperOrientation | async)!"
    >
      <!-- Contact Details Step -->
      <mat-step
        [stepControl]="contactDetailsFG"
        label="Enter your contact details"
        errorMessage="Contact details are required."
      >
        <form [formGroup]="contactDetailsFG">
          <div>
            <!-- Full Name -->
            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input
                matInput
                [formControl]="name"
                type="text"
                [minlength]="ValidLengthEnum.MIN"
                [maxlength]="ValidLengthEnum.DEFAULT"
                required
              />
              <mat-error *ngIf="name.invalid">{{
                getFullNameErrorMessage()
              }}</mat-error>
              <mat-hint align="start">Name & Surname</mat-hint>
              <mat-hint align="end"
                >{{ name.value.length }} /
                {{ ValidLengthEnum.DEFAULT }}</mat-hint
              >
            </mat-form-field>

            <!-- Email Address -->
            <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
              <input
                matInput
                [formControl]="email"
                type="email"
                [maxlength]="ValidLengthEnum.EMAIL"
                required
              />
              <mat-error *ngIf="email.invalid">{{
                getEmailErrorMessage()
              }}</mat-error>
              <mat-hint align="end"
                >{{ email.value.length }} /
                {{ ValidLengthEnum.EMAIL }}</mat-hint
              >
            </mat-form-field>
          </div>

          <div>
            <!-- Cell Number -->
            <mat-form-field appearance="fill">
              <mat-label>Enter your Cell Number</mat-label>
              <input
                matInput
                [formControl]="cell"
                type="tel"
                [minlength]="ValidLengthEnum.CELL"
                [maxlength]="ValidLengthEnum.CELL"
                required
              />
              <mat-error *ngIf="cell.invalid">{{
                getCellErrorMessage()
              }}</mat-error>
              <mat-hint align="end"
                >{{ cell.value.length }} / {{ ValidLengthEnum.CELL }}</mat-hint
              >
            </mat-form-field>

            <!-- Date Needed -->
            <mat-form-field appearance="fill">
              <mat-label>Date Order Needed</mat-label>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker"
                [formControl]="orderNeeded"
                type="datetime"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint
                >*Please note that orders need to be made at least 48 hours in
                advance.</mat-hint
              >
              <mat-error *ngIf="orderNeeded.invalid"
                >Please enter the date your order is needed.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="delivery-radio-button">
            <!-- City -->
            <label id="lblCity" class="mr-1">Select your city:</label>
            <mat-radio-group aria-labelledby="lblCity" [formControl]="where">
              <mat-radio-button
                *ngFor="let item of deliveryPrices"
                [value]="item.where"
                >{{ item.where }}</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <div>
            <!-- Address -->
            <mat-form-field appearance="fill">
              <mat-label>Enter your physical address</mat-label>
              <textarea
                matInput
                [formControl]="address"
                [maxlength]="ValidLengthEnum.MAX"
              ></textarea>
              <mat-error *ngIf="address.invalid"
                >Please enter your physical address.</mat-error
              >
              <mat-hint align="end"
                >{{ address.value.length }} /
                {{ ValidLengthEnum.MAX }}</mat-hint
              >
            </mat-form-field>
          </div>

          <button
            class="stepper-button"
            mat-raised-button
            color="primary"
            matStepperNext
            [disabled]="!contactDetailsFG.valid"
          >
            Next
          </button>
        </form>
      </mat-step>

      <!-- Place Order Step -->
      <mat-step
        [stepControl]="placeOrderFG"
        label="Place your order"
        errorMessage="Order details are required."
      >
        <form [formGroup]="placeOrderFG">
          <mat-form-field appearance="fill">
            <mat-label>Enter your custom order</mat-label>
            <textarea
              matInput
              [formControl]="customOrder"
              [maxlength]="ValidLengthEnum.MAX"
            ></textarea>
            <mat-error *ngIf="customOrder.invalid"
              >Please enter your custom order.</mat-error
            >
            <mat-hint align="end"
              >{{ customOrder.value.length }} /
              {{ ValidLengthEnum.MAX }}</mat-hint
            >
          </mat-form-field>

          <div>
            <button
              mat-button
              matStepperPrevious
              class="stepper-button mr-1"
              mat-raised-button
              color="accent"
            >
              Back
            </button>
            <button
              mat-button
              matStepperNext
              class="stepper-button"
              mat-raised-button
              color="primary"
              [disabled]="!placeOrderFG.valid"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step label="Confirm your order">
        <h3>{{ customOrder.value }}</h3>
        <div>
          <button
            mat-button
            matStepperPrevious
            class="stepper-button mr-1"
            mat-raised-button
            color="accent"
          >
            Back
          </button>
          <button
            mat-button
            matStepperNext
            class="stepper-button"
            mat-raised-button
            color="primary"
            (click)="submitOrder()"
          >
            Submit Order
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h2>Your order has been placed!</h2>
        <p>
          We will get back to you within in the next 4 hours in order to make
          payment & organize delivery for your delicious treats.
        </p>
        <p>Thank you so much for choosing `The Everyday Bite`.</p>
      </mat-step>
    </mat-stepper>
  </div>
</router-outlet>
