<mat-toolbar class="toolbar">
  <span class="title">The Everyday Bite Order Form</span>
</mat-toolbar>

<router-outlet>
  <ng-container
    [ngSwitch]="stepperOrientation | async"
    MaterialModule
  >
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>

  <div class="container">
    <mat-stepper
      class="order-form-stepper"
      [orientation]="(stepperOrientation | async)!"
    >
      <!-- Contact Details -->
      <mat-step
        [stepControl]="contactDetailsFG"
        label="Enter your contact details"
        errorMessage="Contact details are required."
      >
        <form [formGroup]="contactDetailsFG">
          <div>
            <!-- Full Name -->
            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input
                matInput
                [formControl]="name"
                type="text"
                required
              >
              <mat-error *ngIf="name.invalid">Please enter your full name.</mat-error>
            </mat-form-field>

            <!-- Email Address -->
            <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
              <input
                matInput
                [formControl]="email"
                type="email"
                required
              >
              <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <!-- Cell Number -->
            <mat-form-field appearance="fill">
              <mat-label>Enter your Cell Number</mat-label>
              <input
                matInput
                [formControl]="cell"
                type="tel"
                required
              >
              <mat-error *ngIf="cell.invalid">{{ getCellErrorMessage() }}</mat-error>
            </mat-form-field>

            <!-- Date Needed -->
            <mat-form-field appearance="fill">
              <mat-label>Date Order Needed</mat-label>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker"
                [formControl]="orderNeeded"
                type="datetime"
                required
              >
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint>*Please note that orders need to be made at least 48 hours in advance.</mat-hint>
              <mat-error *ngIf="orderNeeded.invalid">Please enter the date your order is needed.</mat-error>
            </mat-form-field>
          </div>

          <div>
            <!-- Address -->
            <mat-form-field
              *ngIf="delivery.value"
              appearance="fill"
            >
              <mat-label>Enter your physical address</mat-label>
              <textarea
                matInput
                [formControl]="address"
              ></textarea>
              <mat-error *ngIf="address.invalid">Please enter your physical address.</mat-error>
            </mat-form-field>

            <!-- Delivery -->
            <mat-checkbox
              class="delivery-checkbox"
              color="primary"
              (change)="updateDeliveryChecked()"
              [formControl]="delivery"
            >Delivery</mat-checkbox>
          </div>

          <button
            class="stepper-button"
            mat-raised-button
            color="primary"
            matStepperNext
            [disabled]="!contactDetailsFG.valid"
            (click)="test()"
          >Next</button>
        </form>
      </mat-step>

      <mat-step
        [stepControl]="secondFormGroup"
        label="Fill out your address"
      >
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="Ex. 1 Main St, New York, NY"
              required
            >
          </mat-form-field>
          <div>
            <button
              mat-button
              matStepperPrevious
              class="stepper-button"
              mat-raised-button
              color="accent"
            >Back</button>
            <button
              mat-button
              matStepperNext
              class="stepper-button"
              mat-raised-button
              color="primary"
            >Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="thirdFormGroup"
        label="Fill out your phone number"
      >
        <form [formGroup]="thirdFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input
              matInput
              formControlName="thirdCtrl"
              placeholder="Ex. 12345678"
              required
            >
          </mat-form-field>
          <div>
            <button
              mat-button
              matStepperPrevious
            >Back</button>
            <button
              mat-button
              matStepperNext
            >Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button
            mat-button
            matStepperPrevious
          >Back</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</router-outlet>
