@import '~@angular/material/theming';
@include mat-core();

$mat-my-purple: (
  50: #f8f2f8,
  100: #edddef,
  200: #e1c7e4,
  300: #d5b1d9,
  400: #cca0d0,
  500: #c38fc8,
  600: #bd87c2,
  700: #b57cbb,
  800: #ae72b4,
  900: #a160a7,
  A100: #ffffff,
  A200: #fce2ff,
  A400: #f8afff,
  A700: #f596ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-mat-my-grey: (
  50: #f4f4f4,
  100: #e4e4e4,
  200: #d3d3d3,
  300: #c1c1c1,
  400: #b3b3b3,
  500: #a6a6a6,
  600: #9e9e9e,
  700: #959595,
  800: #8b8b8b,
  900: #7b7b7b,
  A100: #ffffff,
  A200: #fad6d6,
  A400: #ff9e9e,
  A700: #ff8585,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

.alternate-theme {
  $alternate-primary: mat-palette($mat-my-purple);
  $alternate-accent: mat-palette($md-mat-my-grey);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}
